USE [lap6]
GO
/****** Object:  Table [dbo].[baiViet]    Script Date: 12/7/2019 2:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baiViet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenTinTuc] [nvarchar](50) NOT NULL,
	[moTaNho] [nvarchar](max) NOT NULL,
	[moTaChiTiet] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[idDanhMuc] [int] NOT NULL,
 CONSTRAINT [PK_baiViet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[danhMuc]    Script Date: 12/7/2019 2:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhMuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_danhMuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[baiViet] ON 

SET IDENTITY_INSERT [dbo].[baiViet] OFF
SET IDENTITY_INSERT [dbo].[danhMuc] ON 

INSERT [dbo].[danhMuc] ([id], [tenDanhMuc]) VALUES (2, N'Tin Tức Bóng Rổ')
INSERT [dbo].[danhMuc] ([id], [tenDanhMuc]) VALUES (1002, N'Tin Tức Bóng Đá')
SET IDENTITY_INSERT [dbo].[danhMuc] OFF
ALTER TABLE [dbo].[baiViet]  WITH CHECK ADD  CONSTRAINT [FK_baiViet_danhMuc] FOREIGN KEY([idDanhMuc])
REFERENCES [dbo].[danhMuc] ([id])
GO
ALTER TABLE [dbo].[baiViet] CHECK CONSTRAINT [FK_baiViet_danhMuc]
GO
